@import 'common';

@import 'dialog';

/* Styling for the node count selector: */
#node-count-picker {
    width: 100%;
    margin: 10px 0 10px 0;
    td {
        text-align: center;
        cursor: pointer;
        border: 1px solid var(--vscode-input-foreground);
        padding: 8px;
        width: 33.3%;
        font-weight: bold;
        background-color: var(--vscode-input-background);
        color: var(--vscode-input-foreground);
        &.selected {
            background-color: var(--vscode-button-background);
            color: var(--vscode-button-foreground);
        }
    }
}
