@import 'common';
#neoExpressJsonFileName {
    font-family: 'Courier New', Courier, monospace;
    padding-left: 0.3em;
}

body {
    background-color: var(--vscode-editor-background);
}

.card {
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 20px 10px;
    h2, h3 {
        background-color: var(--vscode-sideBarSectionHeader-background);
        color: var(--vscode-sideBarSectionHeader-foreground);
        border: 1px solid var(--vscode-sideBarSectionHeader-border);
        padding: 5px;
    }
    background-color: var(--vscode-sideBar-background);
    color: var(--vscode-sideBar-foreground);
    border: 1px solid var(--vscode-sideBar-border);
    padding: 0px;
    .methodDetail, .contractDetail {
        padding: 6px;
    }
    .methodDetail {
        background-color: var(--vscode-editor-background);
    }
    box-shadow: 2px 2px 2px var(--vscode-widget-shadow);
    &.selectedContract {
        border: 1px solid var(--vscode-focusBorder);
    }
    &.selectedMethod {
        border: 1px solid var(--vscode-focusBorder);
    }
    .instructions {
        background-color: var(--vscode-sideBar-background);
        color: var(--vscode-sideBar-foreground);
        border: 1px solid var(--vscode-sideBar-border);
        box-shadow: 1px 1px 1px var(--vscode-widget-shadow);
        margin: 12px 10px 10px 10px;
        padding: 10px;
        opacity: 0.75;
    }
}

input {
    width: 100%;
    background-color: var(--vscode-editor-background);
    padding: 5px;

    &.intentSymbol {
        text-align: right;
    }
}

select {
    width: 100%;
    background-color: var(--vscode-input-background);
    color: var(--vscode-input-foreground);
    border: none;
}

.walletDropdown {
    background-color: var(--vscode-input-background);
    border: 1px solid var(--vscode-input-border);
    width: 100%;
    padding: 5px;
}

h2, h3 {
    margin: 0;
    text-align: left;
}

h4, h5, h6 {
    margin: 10px 0 0 0;
    text-align: center;
}

.methodDetail>div {
    padding-top: 10px;
}

#invocationResultText {
    white-space: pre-line;
    text-align: left;
}

table {
    width: 100%;
    margin-top: 10px;
    td,
    th {
        padding: 0px 10px 0px 10px;
        &.parameterType {
            font-style: italic;
        }
    }
    th {
        text-align: right;
    }
}

ul {
    margin-top: 0;
    margin-bottom: 0;
}