@import 'common';

body {
    background-color: var(--vscode-editor-background);
    padding: 0;
    background-color: var(--vscode-sideBar-background);
}

.chevronExpanded {
    display: none;
}

.chevronCollpased {
    display: inline-block;
}

.half {
    width: 50%;
    display: inline-block;
    text-align: center;
    padding-bottom: 20px;
    table {
        width: 90%;
    }
    button {
        margin-top: 10px;
        width: 90%;
    }
}

h1, h2, h3 {
    background-color: var(--vscode-sideBarSectionHeader-background);
    color: var(--vscode-sideBarSectionHeader-foreground);
    border: 1px solid var(--vscode-sideBarSectionHeader-border);
    padding: 5px;
    font-size: 1.0em;
}
h2 {
    padding-left: 20px;
}
h3 {
    padding-left: 40px;
}
h1 {
    margin: 0;
    .chevronExpanded {
        display: inline-block;
    }
}
h4 {
    font-size: 1.2em;
}

.card {
    margin: 0;
    background-color: var(--vscode-sideBar-background);
    color: var(--vscode-sideBar-foreground);
    border: 1px solid var(--vscode-sideBar-border);
    padding: 0px;
    .methodDetail {
        background-color: var(--vscode-editor-background);
        margin: 0px 20px 10px 60px;
        padding: 5px;
        box-shadow: 1px 1px 1px var(--vscode-widget-shadow);
        border: 1px solid var(--vscode-sideBar-border);
    }
    &.selectedContract {
        .contractDetail {
            border: 1px solid var(--vscode-focusBorder);
        }
        h2 {
            .chevronExpanded {
                display: inline-block;
            }
            .chevronCollpased {
                display: none;
            }
        }
        .card.selectedMethod {
            .chevronExpanded {
                display: inline-block;
            }
            .chevronCollpased {
                display: none;
            }
        }
    }
    .instructions {
        background-color: var(--vscode-sideBar-background);
        color: var(--vscode-sideBar-foreground);
        border: 1px solid var(--vscode-sideBar-border);
        box-shadow: 1px 1px 1px var(--vscode-widget-shadow);
        margin: 12px 10px 10px 10px;
        padding: 10px;
        opacity: 0.75;
        clear: both;
        *:not(:first-child) {
            margin-left: 20px;
        }
    }
}

input {
    width: 100%;
    background-color: var(--vscode-input-background);
    padding: 5px;
}

select {
    width: 100%;
    background-color: var(--vscode-input-background);
    color: var(--vscode-input-foreground);
    border: none;
}

.walletDropdown {
    background-color: var(--vscode-input-background);
    border: 1px solid var(--vscode-input-border);
    width: 100%;
    padding: 5px;
}

h2, h3 {
    margin: 0;
    text-align: left;
}

h4, h5, h6 {
    margin: 10px 0 0 0;
    text-align: center;
}

.methodDetail>div {
    padding-top: 10px;
}

#invocationResultText {
    white-space: pre-line;
    text-align: left;
}

table {
    width: 100%;
    margin-top: 10px;
    td,
    th {
        padding: 0px 10px 0px 10px;
        &.parameterType {
            font-style: italic;
        }
    }
    th {
        text-align: right;
    }
    thead {
        th {
            padding-bottom: 5px;
            text-align: center;
        }
    }
}

ul {
    margin-top: 0;
    margin-bottom: 0;
}