@import 'common';
table {
    margin-bottom: 15px;
    border-collapse: collapse;
    th {
        background-color: var(--vscode-editor-background);
        filter: contrast(0.75);
    }
    tr:nth-child(even) {
        background-color: var(--vscode-editor-background);
        filter: contrast(0.90);
    }
}

.table {
    text-align: center;
    width: 100%;
    td,
    th {
        padding: 5px 10px;
    }
    th {
        background-color: var(--vscode-editor-background);
        filter: contrast(0.75);
    }
}

.data-table {
    width: 100%;
    td,
    th {
        padding: 5px 10px;
        vertical-align: top;
    }
    th {
        text-align: right;
    }
}

#loading-indicator {
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 98;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding-top: 10%;
}

#opening-indicator {
    background-color: var(--vscode-editor-background);
    z-index: 99;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding-top: 10%;
}

.script-rows {
    td:nth-child(1) {
        font-weight: bold;
        text-align: right;
        background-color: var(--vscode-editor-background);
        filter: contrast(0.75);
    }
    td:nth-child(2) {
        font-family: monospace;
        white-space: pre-wrap;
        text-align: left;
        word-break: break-all;
    }
}

.script-body, #application-log-body {
    font-family: monospace;
    white-space: pre-wrap;
    text-align: left;
    word-break: break-all;
}

.unspentsNotSupported, .claimableNotSupported {
    margin-bottom: 1em;
}