table {
    margin-bottom: 15px;
    border-collapse: collapse;
    th {
        background-color: var(--vscode-editor-background);
        filter: contrast(0.75);
    }
    tr:nth-child(even) {
        background-color: var(--vscode-editor-background);
        filter: contrast(0.90);
    }
}

.table {
    text-align: center;
    width: 100%;
    td,
    th {
        padding: 5px 10px;
    }
    th {
        background-color: var(--vscode-editor-background);
        filter: contrast(0.75);
    }
}

.data-table {
    width: 100%;
    td,
    th {
        padding: 5px 10px;
    }
    th {
        text-align: right;
    }
}

.status-bar {
    background-color: var(--vscode-statusBar-background);
    color: var(--vscode-statusBar-foreground);
    padding: 5px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}